{% extends 'base.html' %}

{% block content %}
<div class="custom-div mt-4">
	<h3><strong>What is this all about?</strong></h3>
	<p>This is a one man project. It started because I like to read on stuff and dive deeper into certain topics. And I build this site to document what I've read and learn. It covers a wide spectrum of topics. On the other hand, it's basically a place where I would procrastinate.</p>

	<h3><strong>Who maintains Fond Figure?</strong></h3>
	<p>I write all the coding, contents, and doing the maintainence of this site.</p>

	<h3><strong>How many post per week?</strong></h3>
	<p>I post on every Monday and Thursday.</p>
	
	<h3><strong>Disclaimer?</strong></h3>
	<p>All posts in this blog is subjected to the writer's (me) opinions and interpretations. Every use of data and other source materials will be credited.</p>
</div>
{% endblock %}