{% extends 'base.html' %}

{% block content %}
<br>
<div class="mt-4">
	<h5><strong>What is this all about?</strong></h5>
	<p>Hello, my name is Nuel and I work as a programmer. I started this blog as one of my personal projects because I like to read and dive deeper into certain topics and to learn something new. This blog is where I would document what I've learned. Although this blog is dedicated for science writing, I may also write about other interesting topics that is not closely related to science.</p>

	<h5><strong>Who maintains this blog?</strong></h5>
	<p>I write all the contents, coding, and doing the maintainence of this site.</p>

	<h5><strong>How many post per week?</strong></h5>
	<p>I post on every Monday and Friday.</p>
	
	<h5><strong>Disclaimer?</strong></h5>
	<p>All posts in this blog is subjected to writer's (me) opinions and interpretations. Every use of data and other source materials will be credited.</p>
</div>
<br>
{% endblock %}