{% extends 'base.html' %}

{% block content %}
<br>
	<div class="text-content">
		<h3 class="text-center font-weight-bold">{{ post.title }}</h3>

		<div class="text-center">
			<small class="text-muted text-center">{{ post.author.first_name }} {{ post.author.last_name }} | {{ post.date_written.date }}</small>
		</div>
		<br>
		<p>{{ post.content | safe }}</p>

		<br>
		<br>
		<div class="row text-center">
			<div class="col">
				<a href="{% url 'post_update' post.pk %}">
					<button class="btn btn-custom">Edit</button>
				</a>
			</div>
			<div class="col">
				<a href="{% url 'post_delete' post.pk %}">
					<button class="btn btn-danger">Delete</button>
				</a>
			</div>
		</div>

		<br>
		<hr>
		<br>
		
		<h3>Comments</h3>
		<a href="{% url 'add_comment' post.pk %}">
			<button class="btn btn-primary">Add comment</button>
		</a>
		
		<div class="mt-4 mb-4">
		{% if not post.comments.all %}
			<p>No comment yet</p>
		{% else %}
			{% for comment in post.comments.all %}
				<p><strong>{{ comment.commenter_name }}</strong><small class="text-muted"> | {{ comment.date_commented }}</small></p>
				<p>{{ comment.commenter_comment }}</p>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}