{% extends 'base.html' %}

{% block content %}
<div class="custom-div">
	<h3><strong>Have question?</strong></h3>
	<p>Get in touch with us directly. </p>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary form-control">Send</button>
	</form>
	<br>
	<hr class="hr-line mb-4">

	<h3><strong>Or chat with us on social media</strong></h3>
	<div class="row">
		<div class="col">
			<a class="fa fa-facebook contact-icon" href="#"></a>
			<a class="fa fa-instagram contact-icon" href="#"></a>
			<a class="fa fa-twitter contact-icon" href="#"></a>
		</div>
	</div>
</div>
{% endblock %}